* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: #4cbe48;
    --black: #000000;
    --white: #ffffff;
    --blue : #004db9;
    --magenta: #b00085;
}

body {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../img/background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#case {
    display: flex;
    flex-direction: column;
    max-width: 416px;
    margin: auto;
    border-bottom: 10px solid var(--black);
    border-top: 10px solid var(--black);
    border-left: 4px solid var(--black);
    border-right: 4px solid var(--black);
    border-radius: 10px;
}

#screen {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 2.5em;
    height: 95px;
    padding-right: 20px;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(5,100px);
    justify-content: center;
    grid-gap: 2px;
    background-color: var(--black);
}

.grid-item {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--green)
}

.operator {
    background-color: var(--blue);
}

.dot,.equal {
    background-color: var(--magenta);
}

.grid-item:active {
    filter: brightness(80%);
}

#clear {
    grid-column: 1 / span 3;
}

#zero {
    grid-column: 1 / span 2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-left: 10px;
    font-size: 1.2em;
}

a {
    color: var(--black);
}